{% extends 'base.html' %}

{% load static %}

{% block content %}
<table style="width:100%">
    <tr>
        <td><h3 style="text-align:center">Name :</h3></td>
        <td><h3 style="text-align:center">Placeholder</h3></td>
    </tr>
    <tr>
        <td><h3 style="text-align:center">Username :</h3></td>
        <td><h3 style="text-align:center">Placeholder</h3></td>
    </tr>
    <tr>
        <td><h3 style="text-align:center">Email :</h3></td>
        <td><h3 style="text-align:center">Placeholder</h3></td>
    </tr>
    <tr>
        <td><h3 style="text-align:center">Password :</h3></td>
        <td><h3 style="text-align:center">*****</h3></td>
    </tr>
</table>

<button
    type="submit" class="btn btn-primary btn-block">Reset Password
</button>

{% endblock content %}