{% extends 'base.html' %}
{% block stylesheet %}
	<style>
	#map {
		height: 400px;
		width: 100%;
	}
	/* Optional: Makes the sample page fill the window. */
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	</style>
{% endblock %}


{% block content %}
<div class="mb-4">
  <a href="{% url 'posts' %}" class="btn btn-primary">Posts</a>
</div>

  <h1>Help Me Clean</h1>
  <div id="map"></div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUeZAdGByjtBQJouUaAD5lX_VJ_xbt1c8&callback=initMap"></script>

{% endblock %}
