{% extends 'base.html' %}

{% block content %}
<h1 style="text-align:center; margin-bottom:40pt;">Meet Our Team</h1>

<ul>

  <li>
    <h2>Mohit</h2>
    <p>
      3rd Year Computer Science Student at UBC
    </p>
  </li>

  <li>
    <h2>Arnold</h2>
    <p>
      Computer Systems Technology Student at BCIT
    </p>
  </li>

  <li>
    <h2>Arvin</h2>
    <p>
      Computer Systems Technology Student at BCIT
    </p>
  </li>

  <li>
    <h2>Byron</h2>
    <p>
      Computer Science Alumni from SFU
    </p>
  </li>

  <li>
    <h2>Anna</h2>
    <p style="margin-bottom:50pt">
      2nd Year Microbiology and Computer Science Student at UBC
    </p>
  </li>

</ul>

{% endblock %}
