{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Services Apps</a></li>
  <li class="breadcrumb-item"><a href="{% url 'posts' %}">Posts</a></li>
  <li class="breadcrumb-item active">Update Post</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}
