{% extends 'base.html' %}
{% block stylesheet %}
	<style>
	#map {
		height: 400px;
		width: 100%;
	}
	/* Optional: Makes the sample page fill the window. */
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	</style>
{% endblock %}
{% block title %}Start a Post{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Services Apps</a></li>
  <li class="breadcrumb-item"><a href="{% url 'posts' %}">Posts</a></li>
  <li class="breadcrumb-item active">New post</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    <div id="map"></div>
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
  </form>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUeZAdGByjtBQJouUaAD5lX_VJ_xbt1c8&callback=initMap"></script>
  {% load staticfiles %}
  <script src="{% static 'js/postScreenMap.js' %}"></script>
{% endblock %}
