{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Services Apps</a></li>
  <li class="breadcrumb-item"><a href="{% url 'posts' %}">Posts</a></li>
  <li class="breadcrumb-item active">Post Detail</li>

{% endblock %}

{% block content %}


<div class="mb-4">
  <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Update post</a>
</div>

<p>NAME: {{post.name }}</p>
<p>DESCRIPTION: {{post.description }}</p>
<p>LOCATION: {{post.location }}</p>
<p>CREATED AT: {{post.created_at }}</p>


{% endblock %}