{% extends 'base.html' %}

{% block content %}
<h1 style="text-align:center; margin-bottom:40pt;">The Types of Services We Connect You With</h1>

<ul>

  <li style="margin-bottom:50pt;">
    <h3>
      Vacuum Cleaning
    </h3>
    <p>
      One of our most popular available services is deep cleaning for vacuums on both carpeted and non-carpeted floors.
      Our service providers use the equipment available to them to thoroughly vacuum the requested areas where dirt
      accumulates over time
    </p>
  </li>

  <li style="margin-bottom:50pt;">
    <h3>
      Glass Cleaning
    </h3>
    <p>
      Often requested in homes with tall, parallel windows. This is a service that will leave the towering glass
      shiny and sparkling for days to come. This is a service that is often used in commercial buildings to show
      off their status and position
    </p>
  </li>

  <li style="margin-bottom:50pt;">
    <h3>
      Shelf Organizing and Sorting
    </h3>
    <p>
      Our members have especially noted the popularity of this cleaning option in the kitchen and dining area. Over
      time, the kitchen and dining area can get messy and populated full of dishes. This is an opportunity to clean out
      a kitchen or any over cluttered shelf!
    </p>
  </li>

  <li style="margin-bottom:50pt;">
    <h3>
      Floor Mopping
    </h3>
    <p>
      If you have a large, dry surface in your home or workplace, it can easily get quite easily stained! Our users
      have noted the professionalism, and efficiency of our members, and have loved the result of their work. These
      large areas in your home will soon be spotless!
    </p>
  </li>

  <li style="margin-bottom:50pt;">
    <h3>
      Fixed Regular Contracts
    </h3>
    <p>
      For those of our customers who require a regular cleaning service, our members are open to having a relatively
      regular contract ranging from weekly to bi-weekly agreements. Each agreement is dependent on our respective member,
      so communication and decisions would have to be made with the respective individual
    </p>
  </li>

</ul>

{% endblock %}
