{% extends 'base.html' %}

{% block content %}
  <h1>Sign Up</h1>
  <h3>First Name</h3>
  <form method="post" nonvalidate>
      <input id="firstname" type="text">
  </form>
  <h3>Last Name</h3>
  <form method="post" nonvalidate>
      <input id="lastname" type="text">
  </form>
  <h3>Email Address</h3>
  <form method="post" nonvalidate>
      <input id="emailAddress" type="email">
  </form>
  <h3>Password</h3>
    <form method="post" nonvalidate>
          <input id="password" type="password">
      </form>
  <h3>Confirm Password</h3>
    <form method="post" nonvalidate>
          <input id="confirmpassword" type="password">
      </form>
  <button type="submit">Sign Up</button>
{% endblock %}